
  <body>
  <div class="container-fluid" id="header-title" style="height: 15%; background: orange;">
      <div class="row">
          <div class="col-6 col-md-4"></div>
          <div class="col-6 col-md-4"><h1>Betrayal Cheatsheet</h1></div>
          <div class="col-6 col-md-4"></div>
      </div>
  </div>

  <div class="container-fluid">
      <span>&nbsp;</span>
  </div>

  <div class="flex-container" style="overflow-x:scroll;">
      <table class="table table-responsive table-bordered" id="main-table">
          <thead>
              <tr>
                  <td></td>
                  <td>Aisling</td>
                  <td>Cameria</td>
                  <td>Elreon</td>
                  <td>Gravicious</td>
                  <td>Guff</td>
                  <td>Haku</td>
                  <td>Hillock</td>
                  <td>It That Fled</td>
                  <td>Janus</td>
                  <td>Jorgin</td>
                  <td>Korell</td>
                  <td>Leo</td>
                  <td>Riker</td>
                  <td>Rin</td>
                  <td>Tora</td>
                  <td>Vagan</td>
                  <td>Vorici</td>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td id="t0">T</td>
                  <td id="t1" (click)='color($event);'>1/2/3 Weapons with veiled mods</td>
                  <td id="t2" (click)='color($event);'>1 Timeworn unique</td>
                  <td id="t3" (click)='color($event);'>1/2/3 Unique weapons</td>
                  <td id="t4" (click)='color($event);'>1 Full stack of div. cards</td>
                  <td id="t5" (click)='color($event);'>8/12/16 second timed craft</td>
                  <td id="t6" (click)='color($event);'>Random items</td>
                  <td id="t7" (click)='color($event);'>24/26/28 Quality to weapon</td>
                  <td id="t8" (click)='color($event);'>Breach splinters</td>
                  <td id="t9" (click)='color($event);'>Quality currency</td>
                  <td id="t10" (click)='color($event);'>1/2/3 Talismans</td>
                  <td id="t11" (click)='color($event);'>Random essences</td>
                  <td id="t12" (click)='color($event);'>Silver coins</td>
                  <td id="t13" (click)='color($event);'>Take one currency</td>
                  <td id="t14" (click)='color($event);'>Normal maps</td>
                  <td id="t15" (click)='color($event);'>Take one item</td>
                  <td id="t16" (click)='color($event);'>Legion splinters</td>
                  <td id="t17" (click)='color($event);'>Quality gems</td>
              </tr>
              <tr>
                  <td id="f0">F</td>
                  <td id="f1" (click)='color($event);'>1/2/3 Armours with veiled mods</td>
                  <td id="f2" (click)='color($event);'>Harbinger currency</td>
                  <td id="f3" (click)='color($event);'>1/2/3 Unique armours</td>
                  <td id="f4" (click)='color($event);'>Random div. cards</td>
                  <td id="f5" (click)='color($event);'>10/15/20 Timed craft</td>
                  <td id="f6" (click)='color($event);'>Magic/Rare/Unique strongbox</td>
                  <td id="f7" (click)='color($event);'>24/26/28 Quality to armour</td>
                  <td id="f8" (click)='color($event);'>Abyss jewels</td>
                  <td id="f9" (click)='color($event);'>Currency shards</td>
                  <td id="f10" (click)='color($event);'>1/2/3 Rares with aspect mods</td>
                  <td id="f11" (click)='color($event);'>Map fragments</td>
                  <td id="f12" (click)='color($event);'>Random currency</td>
                  <td id="f13" (click)='color($event);'>Take one unique</td>
                  <td id="f14" (click)='color($event);'>Rare maps</td>
                  <td id="f15" (click)='color($event);'>Rares with lab enchant</td>
                  <td id="f16" (click)='color($event);'>Legion chests</td>
                  <td id="f17" (click)='color($event);'>Socket currency</td>
              </tr>
              <tr>
                  <td id="r0">R</td>
                  <td id="r1" (click)='color($event);'>Add 1-2 veiled mods to rare item</td>
                  <td id="r2" (click)='color($event);'>Sextants</td>
                  <td id="r3" (click)='color($event);'>1/2/3 Unique jewellery</td>
                  <td id="r4" (click)='color($event);'>Swap div. card for random one</td>
                  <td id="r5" (click)='color($event);'>10/15/20 second timed craft</td>
                  <td id="r6" (click)='color($event);'>Random items with quality</td>
                  <td id="r7" (click)='color($event);'>22/24/26 Quality to flask</td>
                  <td id="r8" (click)='color($event);'>Charged/Enriched/Pure Breachstone upgrade</td>
                  <td id="r9" (click)='color($event);'>Perandus coins & Cadiro</td>
                  <td id="r10" (click)='color($event);'>Tier 1/2/3 corrupt amulet to talisman</td>
                  <td id="r11" (click)='color($event);'>Fossils</td>
                  <td id="r12" (click)='color($event);'>Blessed/Divine/Exalt on an item</td>
                  <td id="r13" (click)='color($event);'>Take one veiled rare</td>
                  <td id="r14" (click)='color($event);'>Unique maps</td>
                  <td id="r15" (click)='color($event);'>20/70/200m XP to a gem</td>
                  <td id="r16" (click)='color($event);'>Incubators</td>
                  <td id="r17" (click)='color($event);'>1/1-2/1-3 White sockets on an item</td>
              </tr>
              <tr>
                  <td id="i0">I</td>
                  <td id="i1" (click)='color($event);'>Jewellery with veiled mod</td>
                  <td id="i2" (click)='color($event);'>Sulphite scarab</td>
                  <td id="i3" (click)='color($event);'>Reliquary scarab</td>
                  <td id="i4" (click)='color($event);'>Divination scarab</td>
                  <td id="i5" (click)='color($event);'>10/15/20 second timed craft</td>
                  <td id="i6" (click)='color($event);'>Ambush scarab</td>
                  <td id="i7" (click)='color($event);'>25/30/35 Quality to map</td>
                  <td id="i8" (click)='color($event);'>Breach scarab</td>
                  <td id="i9" (click)='color($event);'>Perandus scarab</td>
                  <td id="i10" (click)='color($event);'>Beastiary scarab</td>
                  <td id="i11" (click)='color($event);'>Elder scarab</td>
                  <td id="i12" (click)='color($event);'>Torment scarab</td>
                  <td id="i13" (click)='color($event);'>Take one div. card</td>
                  <td id="i14" (click)='color($event);'>Cartography scarab</td>
                  <td id="i15" (click)='color($event);'>Harbinger scarab</td>
                  <td id="i16" (click)='color($event);'>Legion scarab</td>
                  <td id="i17" (click)='color($event);'>Shaper scarab</td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="flex-container" style="flex-direction: row; justify-content: center;">
      <span>&nbsp;</span>
  </div>

  <div class="flex-container" style="flex-direction: row; justify-content: center;">
      <button type="button" class="btn btn-dark" id="button1" (click)="suggest();">Suggest</button>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button type="button" class="btn btn-dark" id="button2" (click)="reset();">Clear</button>
  </div>

  <div class="flex-container" style="flex-direction: column; justify-content: center;">
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span id="header-title"><h1>Signature Veiled Mods</h1></span>

      <div class="flex-container">
          <table class="table table-responsive table-bordered" id="main-table">
          <thead>
              <tr>
                  <td>Agent</td>
                  <td>Mod</td>
                  <td>Tiers</td>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Aisling</td>
                  <td>#% increased Global Physical Damage /
                      #% increased Chaos damage
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Cameria</td>
                  <td>#% increased Global Critical Strike Chance /
                      +#% to Critical Strike Multiplier if you've shattered an enemy recently
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Elreon</td>
                  <td>Channeling / Non-Channeling skills have -# to Total Mana Cost
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Gravicious</td>
                  <td>Gain #% of Maximum Life as Extra Maximum Energy Shield
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Guff</td>
                  <td>#% increased Damage during any Flask Effect
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Haku</td>
                  <td>+#% to Quality of Socketed Gems
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Hillock</td>
                  <td>#% Increased Attributes
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>It That Fled</td>
                  <td>Gain #% of Fire/Cold/Lightning Damage as Extra Chaos Damage
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Janus</td>
                  <td>#% Increased Rarity of Items Dropped by Slain Rare or Unique Enemies
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Jorgin</td>
                  <td>10% Chance to Trigger Level 18 Summon Spectral Wolf on Kill
                  </td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>Korrell</td>
                  <td>#% of Physical Damage from hits taken as Fire Damage
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Leo</td>
                  <td>#% Increased Damage
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Riker</td>
                  <td>#% Increased Fire Damage / #% Increased Lightning Damage
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Rin</td>
                  <td>#% Chance to Avoid Being Frozen/Cannot be Frozen
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Tora</td>
                  <td>Adds # to # Phyiscal Damage / #% Chance to Cause Bleeding on Hit
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Vagan</td>
                  <td>Hits Can't Be Evaded
                  </td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>Vorici</td>
                  <td>#% Increased Damage while Leeching
                  </td>
                  <td>3</td>
              </tr>
              <tr>
                  <td>Syndicate Mastermind</td>
                  <td>+# to Level of Socketed Support Gems
                  </td>
                  <td>2</td>
              </tr>
              
          </tbody>
          </table>
      </div>
  </div>
  
  <div class="flex-container" style="flex-direction: column; justify-content: center;">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span>ADADADADADAADADADADADADADADADADADADADADADADADADADADADADADADADADAD</span>
          <span>ADADADADADADADADADADADADAADADADADADADADADADADADADADADADADADADADAD</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
          <span>&nbsp;</span>
  </div>

  <footer class="footer">
      <div class="flex-container" style="flex-direction: column; justify-content: center;">
          <span>&nbsp;</span>
          <span>This site uses your browser's LocalStorage to remember your selection preferences, you can view/modify/clear this anytime in the Application tab of your browser's developer tools.</span>
          <span>© me</span>
      </div>
  </footer>
</body>